
* {
    margin: 0px;
    padding: 0px;
}


/* Main Div */
.main {
    margin: 30px;
    width: 1200px;
    height: 500px;
    background-color: aqua;
}


/* Row First */
.row1 {
    width: 1200px;
    height: 200px;
    background-color: rgb(89, 90, 89);
}


/* Row First Column First */
.row1c1 {
    width: 400px;
    height: 200px;
    background-color: rgb(76, 127, 138);
    float: left;
}


/* Row First Column Second */
.row1c2 {
    width: 400px;
    height: 200px;
    background-color: rgb(61, 176, 199);
    float: left;
}

/* Row First Column third */
.row1c3 {
    width: 400px;
    height: 200px;
    background-color: rgb(7, 209, 249);
    float: left;
}


/* Row Second */
.row2 {
    width: 1200px;
    height: 200px;
    background-color: rgb(104, 73, 121);
}


/* Row Third */
.row3 {
    width: 1200px;
    height: 100px;
    background-color: rgb(43, 37, 103);
}

/* Row third Column First*/
.row3c1 {
    width: 600px;
    height: 100px;
    background-color: rgb(159, 160, 50);
    float: left;
}

/* Row third Column Second */
.row3c2 {
    width: 600px;
    height: 100px;
    background-color: rgb(217, 220, 15);
    float: left;
}

