* { 
    margin: 0px; 
    padding: 0px; 
}

/* Main Div */
.main { 
    width: 1000px; 
    height: 500px; 
    background-color: cyan;
    border: 2px solid rgb(0, 0, 0); 
    margin: 45px auto; 
}

/* Row First */
.row1 {
    width: 998px;
    height: 48px;
    background-color: rgb(205, 146, 227);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

/* Row First column1-5 */
.row1c1,
.row1c2,
.row1c3,
.row1c4,
.row1c5 {
    width: 195.90px;
    height: 35.90px;
    background-color: rgb(205, 146, 227);
    border: 2px solid rgb(0, 0, 0);
    float: left;
    text-align: center;
    padding-top:10px;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

/* Row Second */
.row2 {
    width: 996px;
    height: 55px;
    background-color: rgb(65, 79, 202);
    color: rgb(255, 255, 255);
    border: 3px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    padding-top: 22px;
}

/* Row Third */
.row3 {
    width: 998px;
    height: 148px;
    background-color: rgb(162, 238, 184);
    border: 2px solid rgb(0, 0, 0);
}

/* Row Third column first */
.row3c1 {
    width: 496px;
    height: 148px;
    background-color: rgb(205, 146, 227);
    float: left;
}

/* Row Third column first row1-5  */
.row3c1r1,
.row3c1r2,
.row3c1r3,
.row3c1r4,
.row3c1r5 {
    width: 496px;
    height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(205, 146, 227);
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

/* Row Third column second */
.row3c2 {
    width: 487px;
    height: 145px;
    background-color: rgb(146, 227, 186);
    border: 3px solid rgb(0, 0, 0);
    float: left;
    margin-left: 10px;
}

/* Row fourth */
.row4 {
    width: 985.20px;
    height: 37px;
    background-color: rgb(219, 211, 53);
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    padding: 5px;
}

/* Row fifth */
.row5 {
    width: 996px;
    height: 97px;
    background-color: rgb(115, 227, 231);
    border: 3px solid rgb(0, 0, 0);
}

/* Row fifth Column1-4 */
.row5c1,
.row5c2,
.row5c3,
.row5c4 {
    width: 245.369px;
    height: 97px;
    background-color: rgb(231, 115, 146);
    border: 2px solid rgb(0, 0, 0);
    float: left;
}


/* Row sixth */
.row6 {
    width: 994px;
    height: 55px;
    background-color: rgb(141, 137, 255);
    border: 4px solid rgb(0, 0, 0);
}

/* Paragraph */
p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    padding: 15px;
}
