* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 500px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 5rem;
}

h2 {
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul { list-style-type: none; }

li { border-top: 1px solid #333; }

li a { display: block; }

li a,
li a:visited {
    text-decoration: none;
    color: #333;
}

li a:hover {
    background-color: #333;
    color: whitesmoke;
}

/* Selecting the last <li> and styling its <a> tag */
li:last-child a { border-radius: 0 0 2rem 2rem; }

p {
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 20px;
}

p a {
    color: #ff6b35;
    font-weight: 600;
    text-decoration: underline;
}

p a:hover { color: #d94a21; }
