
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(244, 217, 182);
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.header {
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgb(92, 92, 92);
}

.logo {
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(14, 230, 215);
}

.nev a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    padding: 5px;
    color: rgb(14, 230, 215);
    border: 2px solid rgb(14, 230, 215);
    border-radius: 8px;
}

.hero {
    height: auto;
}

.heading {
    padding-top: 10px;
    text-align: center;
    color: rgb(22, 22, 22);
    font-size: 32px;
    font-weight: 800;
}

.main-para {
    padding: 15px 0 10px 15px;
    font-size: 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: #000000;
}


li {
    padding: 0 0 0 20px;
}

/* --------------------------------------------- Background-color ------------------------------------------------- */

.Background-color {
    padding: 20px;
    height: auto;
}

p {
    padding: 15px 0 10px 0;
    font-size: 20px;
}

h3 {
    padding: 10px 0;
}

.Color_Name {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 24px;
    border: 2px solid black;
    background-color: blue;
}

.RGB {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border: 2px solid rgb(10, 10, 10);
    background-color: rgb(255, 0, 0);
}

.RGBA {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.500);
    font-size: 24px;
    border: 2px solid rgba(10, 10, 10, 0.500);
    background-color: rgba(0, 255, 0, 0.500);
}

.HSL {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
    font-size: 24px;
    border: 2px solid hsl(0, 0%, 0%);
    background-color: hsl(304, 43%, 51%);
}

.HSLA {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 0.500);
    font-size: 24px;
    border: 2px solid hsla(0, 0%, 0%, 0.500);
    background-color: hsla(190, 86%, 43%, 0.5);
}

.HEX_Code {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    border: 2px solid #000000;
    background-color: #529001;
}

/*------------------------------------------- CSS Background-Image Property ----------------------------------------- */

.Background-image {
    padding: 20px;
    height: auto;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid black;
    margin-top: 20px;
    padding:20px;
}

.main div {
    justify-content: space-between;
    border: 2px solid #000000;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.BI-h3 {
    font-size: 16px;
    text-align: center;
}

.None {
    background-color: aqua;
    background-image: none;
}

.url {
    background-image: url('Shivam22.jpg');
    background-size: cover;
}

.Conic-gradient {
    background-image: conic-gradient(red, yellow, green, blue, red);
}

.Repeating-conic-gradient {
    background-image: repeating-conic-gradient(red 20deg,
            yellow 40deg,
            green 60deg);
}

.Linear-gradient {
    background-image: linear-gradient(to right,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
}

.Repeating-linear-gradient {
    background-image: repeating-linear-gradient(45deg,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
}

.Radial-gradient {
    background-image: radial-gradient(circle, red, yellow, green, blue);
}

.Repeating-radial-gradient {
    background-image: repeating-radial-gradient(circle,
            red,
            yellow 20px,
            green 40px);
}


/* *********************************** Background-Repeat Property *********************************** */

.Background-repeat {
    padding: 20px;
    height: auto;
}

.main1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid black;
    margin-top: 20px;
    padding:20px;
}

.main1 div {
    margin:20px;
    justify-content: space-between;
    border: 2px solid #000000;
    width: 300px;
    height: 300px;
}

.BR-h3 {
    font-size: 16px;
    color: rgb(1, 14, 163);
    padding-top: 140px;
    text-align: center;
}

.repeat {
    background-color: rgb(168, 245, 245);
    background-image: url("tree.jpeg");
    background-repeat: repeat;
}

.repeat-x {
    background-color: rgb(168, 245, 245);
    background-image: url("tree.jpeg");
    background-repeat: repeat-x;
}

.repeat-y {
    background-color: rgb(168, 245, 245);
    background-image: url("tree.jpeg");
    background-repeat: repeat-y;
}

.no-repeat {
    background-color: rgb(168, 245, 245);
    background-image: url("tree.jpeg");
    background-repeat: no-repeat;
}

.space {
    background-color: rgb(168, 245, 245);
    background-image: url("tree.jpeg");
    background-repeat: space;
}

.round {
    background-color: rgb(168, 245, 245);
    background-image: url("tree.jpeg");
    background-repeat: round;
}

/* *********************************** Background-Attachment Property *********************************** */

.Background-attachment {
    padding: 20px;
    height: auto;
}

.main2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid black;
    margin-top: 20px;
    padding: 20px;
}

.main2 div {
    margin: 20px;
    justify-content: space-between;
    border: 2px solid #000000;
    width: 300px;
    height: 300px;
}

.BA-h3 {
    font-size: 16px;
    color: rgb(1, 14, 163);
    padding-top: 250px;
    text-align: center;
}

/* *********************************** Background (shorthand) Property *********************************** */

.Background_Shorthand {
    padding: 20px;
    height: auto;
}
